<%
  def link_to(name, url)
      return "<a href='#{url}'>#{name}</a>"
   end
%>

<!DOCTYPE html>
<html>
  <head>
    <title>I'm the title</title>
  </head>
    <h1>I am using a layout</h1>
    <h2>The time is <%= Time.now %></h2>
    <p>
      <h3> I'm a header.</h3>
      <p>Put things in the header</p>
      <%= link_to 'Me', '#' %>
      <%= link_to 'This is a link to google', 'http://google.com' %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>